* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: #14141a;
}

ul, li, ol, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

.tituloPrincipal {
  font-size: 4rem;
  color: #f5f6fc;
  font-weight: 800;
}

.tituloPrincipalDos {
  font-size: 4rem;
  color: #6232ff;
  font-weight: 800;
}

.tituloNombre {
  font-size: 3rem;
  color: #f5f6fc;
  font-weight: 800;
}

.tituloNombreDos {
  font-size: 3rem;
  color: #6232ff;
  font-weight: 800;
}

.tituloSecundario {
  font-size: 2rem;
  color: #f5f6fc;
  font-weight: 600;
}

.tituloSecundarioDos {
  font-size: 2rem;
  color: #6232ff;
  font-weight: 600;
}

.parrafo {
  font-size: 1.1rem;
  color: #f5f6fc;
  font-weight: 300;
}

.parrafoDos {
  font-size: 1.1rem;
  color: #6232ff;
  font-weight: 300;
}

.margenTop100 {
  margin-top: 100px;
}

.margenTop60 {
  margin-top: 60px;
}

.margenTop40 {
  margin-top: 40px;
}

.margenBot240 {
  margin-bottom: 240px;
}

.margenBot140 {
  margin-bottom: 140px;
}

.margenBot100 {
  margin-bottom: 100px;
}

.margenBot60 {
  margin-bottom: 60px;
}

.margenBot40 {
  margin-bottom: 40px;
}

.margenBot20 {
  margin-bottom: 20px;
}

.border {
  border-radius: 15px;
}

.paddingH {
  padding: 0 30px;
}

.botonUno {
  padding: 15px 30px;
  background: #6232ff;
  color: #f5f6fc;
  border: 1px solid #6232ff;
  transition: all 0.3s;
  border-radius: 30px;
  text-decoration: none;
}

.botonUno:hover {
  background: #14141a;
  color: #6232ff;
}

.botonDos {
  padding: 15px 30px;
  background: #14141a;
  color: #f5f6fc;
  border: 1px solid #14141a;
  transition: all 0.3s;
  border-radius: 30px;
  text-decoration: none;
}

.botonDos:hover {
  background: #14141a;
  color: #6232ff;
  border: 1px solid #6232ff;
}

.carousel {
  position: relative;
  padding-left: 200px;
  padding-right: 200px;
}

.carousel__item {
  padding: 20px;
  position: relative;
  height: 550px;
  width: 50%;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
  position: absolute;
  transform: translate(-50%, -50%) scale(0.1);
  z-index: 0;
  transition: all 0.2s linear;
  background-color: #40424d;
  border-radius: 15px;
  color: #f5f6fc;
}

.carousel__item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.carousel__item--main {
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;
  cursor: pointer;
}

.carousel__item--left {
  transform: translate(-110%, -50%) scale(0.9);
  z-index: 1;
}

.carousel__item--right {
  transform: translate(10%, -50%) scale(0.9);
  z-index: 1;
}

.carousel__item--left img, .carousel__item--right img {
  filter: grayscale(80%);
}

.carousel__item--right:hover {
  transform: translate(10%, -50%) scale(1.1);
  z-index: 3;
  cursor: pointer;
}

.carousel__item--left:hover {
  transform: translate(-110%, -50%) scale(1.1);
  z-index: 3;
  cursor: pointer;
}

.carousel__item--main:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.carousel__item:hover > .carousel__text {
  opacity: 1;
}

.carousel__item:hover img {
  filter: grayscale(0%);
}

.carousel__btns {
  position: absolute;
  transform: translate(-50%, 18rem);
  display: flex;
  gap: 2rem;
  z-index: 113;
}

.carousel__btn {
  background-color: transparent;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 1px solid currentColor;
  color: #f5f6fc;
  cursor: pointer;
}

.carousel__btn svg {
  height: 1.8rem;
  width: 1.8rem;
}

.carousel__btn:hover {
  color: #aaa;
}

@keyframes cuadrado {
  0% {
    top: 0px;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0px;
  }
}
.cuadradito {
  position: relative;
  font-size: 2rem;
  animation: cuadrado 2s infinite;
}

.aboutUs {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.aboutUs > div {
  width: 50%;
}

.servicios {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.servicios .serviciosUno {
  width: 45%;
}

.servicios .serviciosDos {
  width: 55%;
}

.sergio {
  width: 100%;
}

.formulario {
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario > div {
  width: 50%;
}

.formulario form {
  color: #f5f6fc;
}

.header {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #14141a;
  position: sticky;
  top: 0;
  z-index: 60;
}

.headerLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #1e1e24;
  border-radius: 30px;
  list-style: none;
  color: #f5f6fc;
  padding: 15px 35px;
}

.header a {
  text-decoration: none;
  color: #f5f6fc;
  transition: 0.6s;
}

.header ul a:hover {
  color: #ceff1c;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 15%;
  padding-right: 15%;
  background-color: black;
  color: #f5f6fc;
  padding-top: 80px;
  padding-bottom: 80px;
}

.footerF > div {
  width: 33%;
}

.footerF {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.line {
  width: 50%;
  color: #f5f6fc;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
