* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

ul, li, ol, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

.tituloPrincipal {
  font-size: 4rem;
  color: #f5f6fc;
  font-weight: 800;
}
@media screen and (max-width: 650px) {
  .tituloPrincipal {
    font-size: 2rem;
  }
}

.tituloPrincipalDos {
  font-size: 4rem;
  color: #6232ff;
  font-weight: 800;
}
@media screen and (max-width: 650px) {
  .tituloPrincipalDos {
    font-size: 2rem;
  }
}

.tituloNombre {
  font-size: 3rem;
  color: #f5f6fc;
  font-weight: 800;
}
@media screen and (max-width: 650px) {
  .tituloNombre {
    font-size: 1.8rem;
  }
}

.tituloNombreDos {
  font-size: 3rem;
  color: #6232ff;
  font-weight: 800;
}
@media screen and (max-width: 650px) {
  .tituloNombreDos {
    font-size: 1.8rem;
  }
}

.tituloSecundario {
  font-size: 2rem;
  color: #f5f6fc;
  font-weight: 600;
}
@media screen and (max-width: 650px) {
  .tituloSecundario {
    font-size: 1.3rem;
  }
}

.tituloSecundarioDos {
  font-size: 2rem;
  color: #6232ff;
  font-weight: 600;
}
@media screen and (max-width: 650px) {
  .tituloSecundarioDos {
    font-size: 1.3rem;
  }
}

.parrafo {
  font-size: 1.1rem;
  color: #f5f6fc;
  font-weight: 200;
}

.parrafoDos {
  font-size: 1.1rem;
  color: #6232ff;
  font-weight: 200;
}

.margenTop100 {
  margin-top: 100px;
}

.margenTop60 {
  margin-top: 60px;
}

.margenTop40 {
  margin-top: 40px;
}

.margenBot240 {
  margin-bottom: 240px;
}

.margenBot140 {
  margin-bottom: 140px;
}

.margenBot100 {
  margin-bottom: 100px;
}

.margenBot60 {
  margin-bottom: 60px;
}

.margenBot40 {
  margin-bottom: 40px;
}

.margenBot20 {
  margin-bottom: 20px;
}

.border {
  border-radius: 15px;
}

.paddingH {
  padding: 0 30px;
}

.textoCentrado {
  text-align: center;
}

.botonUno {
  padding: 15px 30px;
  background: #6232ff;
  color: #f5f6fc;
  border: 1px solid #6232ff;
  transition: all 0.3s;
  border-radius: 30px;
  text-decoration: none;
}

.botonUno:hover {
  background: #14141a;
  color: #6232ff;
}

.botonDos {
  padding: 15px 30px;
  background: #14141a;
  color: #f5f6fc;
  border: 1px solid #14141a;
  transition: all 0.3s;
  border-radius: 30px;
  text-decoration: none;
}

.botonDos:hover {
  background: #14141a;
  color: #6232ff;
  border: 1px solid #6232ff;
}

.carousel {
  position: relative;
  padding-left: 220px;
  padding-right: 220px;
}
@media screen and (max-width: 1240px) {
  .carousel {
    display: none;
  }
}

.carousel__item {
  padding: 20px;
  position: relative;
  height: 560px;
  width: 50%;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
  position: absolute;
  transform: translate(-50%, -50%) scale(0.1);
  z-index: 0;
  transition: all 0.2s linear;
  background-color: #40424d;
  border-radius: 15px;
  color: #f5f6fc;
}
@media screen and (max-width: 1370px) {
  .carousel__item {
    height: 640px;
  }
}

.carousel__item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.carousel__item--main {
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;
  cursor: pointer;
}

.carousel__item--left {
  transform: translate(-110%, -50%) scale(0.9);
  z-index: 1;
}

.carousel__item--right {
  transform: translate(10%, -50%) scale(0.9);
  z-index: 1;
}

.carousel__item--left img, .carousel__item--right img {
  filter: grayscale(80%);
}

.carousel__item--right:hover {
  transform: translate(10%, -50%) scale(1.1);
  z-index: 3;
  cursor: pointer;
}

.carousel__item--left:hover {
  transform: translate(-110%, -50%) scale(1.1);
  z-index: 3;
  cursor: pointer;
}

.carousel__item--main:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.carousel__item:hover > .carousel__text {
  opacity: 1;
}

.carousel__item:hover img {
  filter: grayscale(0%);
}

.carousel__btns {
  position: absolute;
  transform: translate(-50%, 18rem);
  display: flex;
  gap: 2rem;
  z-index: 113;
}

.carousel__btn {
  background-color: transparent;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 1px solid currentColor;
  color: #f5f6fc;
  cursor: pointer;
}

.carousel__btn svg {
  height: 1.8rem;
  width: 1.8rem;
}

.carousel__btn:hover {
  color: #aaa;
}

.carouselDos {
  display: none;
  gap: 15px;
}
@media screen and (max-width: 1240px) {
  .carouselDos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 950px) {
  .carouselDos {
    flex-direction: column;
  }
}

.carousel__item-dos {
  padding: 20px;
  height: 550px;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 0;
  transition: all 0.2s linear;
  background-color: #40424d;
  border-radius: 15px;
  color: #f5f6fc;
}
@media screen and (max-width: 950px) {
  .carousel__item-dos {
    height: 460px;
  }
}
@media screen and (max-width: 670px) {
  .carousel__item-dos {
    height: auto;
  }
}

.carousel__item-dos img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
@media screen and (max-width: 950px) {
  .carousel__item-dos img {
    height: 200px;
  }
}

@keyframes cuadrado {
  0% {
    top: 0px;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0px;
  }
}
.cuadradito {
  position: relative;
  font-size: 2rem;
  animation: cuadrado 2s infinite;
}

.shadow {
  filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.7));
}

body {
  background-image: url("../img/fondoMain.png");
  background-color: #14141a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
}

.conocenos {
  padding: 30px;
  color: #f5f6fc;
  margin-top: 80px;
  border-radius: 15px;
  align-items: start;
  filter: drop-shadow(0 0 0.75rem #14141a);
}

.conocenosSec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;
}

main {
  padding-left: 15%;
  padding-right: 15%;
  background: rgb(20, 20, 26);
  background-color: #14141a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url("../img/fondoTres.png");
  background-color: #14141a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  overflow-x: hidden;
}
@media screen and (max-width: 650px) {
  main {
    padding-left: 15px;
    padding-right: 15px;
  }
}

main img {
  width: 1200px;
}
@media screen and (max-width: 1240px) {
  main img {
    width: 760px;
  }
}
@media screen and (max-width: 780px) {
  main img {
    width: 400px;
  }
}
@media screen and (max-width: 780px) {
  main img {
    width: 290px;
  }
}

.banner {
  position: relative;
}

.cont1 {
  background-image: url("../img/fondoVideo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  position: absolute;
  top: -11px;
  left: 357px;
  width: 280px;
  height: 280px;
  filter: drop-shadow(8px 10px 12px #000000);
}
@media screen and (max-width: 1240px) {
  .cont1 {
    padding: 30px;
    top: 3px;
    left: 222px;
    width: 180px;
    height: 180px;
  }
}
@media screen and (max-width: 780px) {
  .cont1 {
    padding: 10px;
    top: 3px;
    left: 87px;
    width: 70px;
    height: 70px;
  }
}

.contVideo1 {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
}
@media screen and (max-width: 1240px) {
  .contVideo1 {
    width: 120px;
    height: 120px;
  }
}
@media screen and (max-width: 780px) {
  .contVideo1 {
    width: 50px;
    height: 50px;
  }
}

.cont2 {
  background-image: url("../img/fondoVideo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  position: absolute;
  top: 20px;
  left: 560px;
  width: 280px;
  height: 280px;
  filter: drop-shadow(8px 10px 12px #000000);
}
@media screen and (max-width: 1240px) {
  .cont2 {
    padding: 30px;
    left: 347px;
    width: 180px;
    height: 180px;
  }
}
@media screen and (max-width: 780px) {
  .cont2 {
    padding: 10px;
    left: 134px;
    top: 10px;
    width: 70px;
    height: 70px;
  }
}

.videoUno {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutUs {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background: #14141a;
  overflow-x: hidden;
}
@media screen and (max-width: 1240px) {
  .aboutUs {
    flex-direction: column;
  }
}
@media screen and (max-width: 650px) {
  .aboutUs {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.aboutUs > div {
  width: 50%;
}
@media screen and (max-width: 1240px) {
  .aboutUs > div {
    width: 100%;
  }
}

.servicios {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
@media screen and (max-width: 1240px) {
  .servicios {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 650px) {
  .servicios {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.servicios .serviciosUno {
  width: 45%;
}
@media screen and (max-width: 1240px) {
  .servicios .serviciosUno {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.servicios .serviciosDos {
  width: 55%;
}
@media screen and (max-width: 1240px) {
  .servicios .serviciosDos {
    width: 100%;
  }
}

.sergio {
  width: 100%;
  filter: drop-shadow(8px 10px 12px #000000);
}

.equipo {
  overflow-x: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 1240px) {
  .equipo {
    flex-direction: column;
  }
}
@media screen and (max-width: 650px) {
  .equipo {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.equipo > div {
  width: 50%;
}
@media screen and (max-width: 1240px) {
  .equipo > div {
    width: 100%;
  }
}

.fondoCuatro {
  background-image: url("../img/fondoCuatro.png");
  background-color: #14141a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.formulario {
  overflow-x: hidden;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 650px) {
  .formulario {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.formulario > div {
  width: 50%;
}
@media screen and (max-width: 650px) {
  .formulario > div {
    width: 100%;
  }
}

.formulario form {
  color: #f5f6fc;
}

.header {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #14141a;
  position: sticky;
  top: 0;
  z-index: 60;
}
@media screen and (max-width: 1000px) {
  .header {
    flex-direction: column;
    gap: 40px;
  }
}
@media screen and (max-width: 650px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
    position: static;
  }
}

.headerLinks {
  gap: 40px;
  background-color: #1e1e24;
  border-radius: 30px;
  list-style: none;
  color: #f5f6fc;
  padding: 15px 35px;
}
@media screen and (max-width: 1000px) {
  .headerLinks {
    background-color: #14141a;
  }
}

.headerLinks ul {
  gap: 40px;
}

.header a {
  text-decoration: none;
  color: #f5f6fc;
  transition: 0.6s;
}

.header ul a:hover {
  color: #ceff1c;
}

.logo {
  width: 200px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: 1px solid #f5f6fc;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #14141a;
  color: #f5f6fc;
  padding-top: 80px;
  padding-bottom: 80px;
}

.footerF > div {
  width: 33%;
}
@media screen and (max-width: 650px) {
  .footerF > div {
    width: 100%;
  }
}

.footerF {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1240px) {
  .footerF {
    flex-direction: column;
  }
}

.sepadador {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.line {
  width: 50%;
  color: #f5f6fc;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
