.header{
    padding-top: 40px;
    padding-bottom: 40px;
    @include flex; 
    justify-content: space-between;
    @include padding; 
    background-color: $fondo;
    position: sticky;
    top:0;
    z-index: 60;

}
.headerLinks{
    @include flex;
    gap: 40px;
    background-color: $fondoTres;
    border-radius: 30px;
    list-style: none;
    color: $primary;
    padding: 15px 35px;
    
}

.header a{
    text-decoration: none;
    color:$primary;
    transition: 0.6s;

}

.header ul a:hover{
    color:$terciary;
    
}