@keyframes cuadrado {
    0% {
        top:0px;
    }
    50% {
        top:-10px;
    }

    100% {
        top:0px;
    }
  }
  
.cuadradito{
    position: relative;
    font-size: 2rem;
    animation: cuadrado 2s infinite;
}

.shadow{
    filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.7));
}