// primario //
.tituloPrincipal{
    font-size: 4rem;
    color: $primary;
    font-weight: 800;
}

.tituloPrincipalDos{
    font-size: 4rem;
    color: $secondary;
    font-weight: 800;
}

.tituloNombre{
    font-size: 3rem;
    color: $primary;
    font-weight: 800;
}

.tituloNombreDos{
    font-size: 3rem;
    color: $secondary;
    font-weight: 800;
}

// secundario //

.tituloSecundario{
    font-size: 2rem;
    color: $primary;
    font-weight: 600;
}
.tituloSecundarioDos{
    font-size: 2rem;
    color: $secondary;
    font-weight: 600;
}

//parrafo //

.parrafo{
    font-size: 1.1rem;
    color: $primary;
    font-weight: 200;
}
.parrafoDos{
    font-size: 1.1rem;
    color: $secondary;
    font-weight: 200;
}


.margenTop100{
    margin-top: 100px;
}

.margenTop60{
    margin-top: 60px;
}

.margenTop40{
    margin-top: 40px;
}
.margenBot240{
    margin-bottom: 240px;
}
.margenBot140{
    margin-bottom: 140px;
}
.margenBot100{
    margin-bottom: 100px;
}

.margenBot60{
    margin-bottom: 60px;
}

.margenBot40{
    margin-bottom: 40px;
}

.margenBot20{
    margin-bottom: 20px;
}

.border{
    @include border;
}

.paddingH{
    padding: 0 30px;
}