// primario //
.tituloPrincipal{
    font-size: 4rem;
    color: $primary;
    font-weight: 800;
    @media screen and (max-width:650px) {
        font-size: 2rem;

        }
}

.tituloPrincipalDos{
    font-size: 4rem;
    color: $secondary;
    font-weight: 800;
    @media screen and (max-width:650px) {
        font-size: 2rem;

        }
}

.tituloNombre{
    font-family: "Oswald", sans-serif;
    font-size: 3.4rem;
    color: $fondoCuatro;
    font-weight: 800;
    @media screen and (max-width:650px) {
        font-size: 2rem;

        }
}

.tituloNombreDos{
    font-size: 3rem;
    color: $secondary;
    font-weight: 800;
    @media screen and (max-width:650px) {
        font-size: 1.8rem;

        }

}
.subTituloNombre{
    color: $primary;
    font-weight: 400;
}

// secundario //

.tituloSecundario{
    font-size: 2rem;
    color: $primary;
    font-weight: 600;
    @media screen and (max-width:650px) {
        font-size: 1.3rem;

        }
}
.tituloSecundarioDos{
    font-size: 2rem;
    color: $secondary;
    font-weight: 600;
    @media screen and (max-width:650px) {
        font-size: 1.3rem;

        }
}

//parrafo //

.parrafo{
    font-size: 1.1rem;
    color: $primary;
    font-weight: 200;
}
.parrafoM{
    font-size: 1.3rem;
    color: $primary;
    font-weight: 400;
    @media screen and (max-width:500px) {
        font-size: 1rem;

        }
}
.parrafoB{
    font-size: 1.5rem;
    color: $primary;
    font-weight: 400;
}
.parrafoDos{
    font-size: 1.1rem;
    color: $secondary;
    font-weight: 200;
}


.margenTop100{
    margin-top: 100px;
}

.margenTop60{
    margin-top: 60px;
}

.margenTop40{
    margin-top: 40px;
}
.margenTop20{
    margin-top: 20px;
}
.margenBot240{
    margin-bottom: 240px;
}
.margenBot140{
    margin-bottom: 140px;
}
.margenBot100{
    margin-bottom: 100px;
}

.margenBot60{
    margin-bottom: 60px;
}

.margenBot40{
    margin-bottom: 40px;
}

.margenBot20{
    margin-bottom: 20px;
}

.border{
    @include border;
}

.paddingH{
    padding: 0 30px;
}

.paddingDos{
    padding: 60px 0px;
}


.textoCentrado{
    text-align: center;
}

.terciary{
    color: $terciary;
    font-weight: 600;
}
.spanText{
    color: $fondoDos;
    font-weight: 600;
}

